{
  "token": "<token>",
  "clientId": "<clientId>",
  "clientSecret": "<clientSecret>",
  "guildId": "<developmentServerID>",
  "prefix": "<defaultPrefix>",
  "ownerID": "<ownerID>",
  "creatorID": "<creatorID>",
  "embedColor": "<defaultColorForEmbeds>",
  "mongoURL": "<mongodbURL>"
}
